<tr>
    <td>{id}<br><input type="submit" onclick="remove_url({id})" value="remove"></td>
    <td>{first_seen}<br><input type="submit" onclick="remove_meta({id})" value="refresh"></td>
    <td>{last_seen}<br>
        <div id="status_{id}"></div>
    </td>
    <td>{num_seen}</td>
    <td>{chans}</td>
    <td>{nicks}</td>
    <td>{title}<br>
        <a href="{url}">{url}</a>
    </td>
</tr>