<!DOCTYPE html>
<!-- START search_index -->
<html>

<head>
  <meta charset="utf-8" />
  <title>URL Log search</title>
    <script src="../static/theme.js"></script>
    <script src="../static/url-actions.js" defer></script>
    <link rel="stylesheet" href="../static/theme.css">
</head>

<body>
    <fieldset class="theme-selector">
        <legend>Theme</legend>
        <label class="theme-option"><input type="radio" name="theme" value="system" checked> System</label>
        <label class="theme-option"><input type="radio" name="theme" value="light"> Light</label>
        <label class="theme-option"><input type="radio" name="theme" value="dark"> Dark</label>
    </fieldset>
  <h1>URL Log search</h1>
  <p>Wildcards <b>*</b> and <b>?</b> can be used. The search is case insensitive.<br>
    Results are sorted chronologically and limited to first 100 hits. Good luck.</p>
  <form id="search" data-search-url="{{cmd_search}}">
    chan: <input type="text" id="chan" name="chan">
    nick: <input type="text" id="nick" name="nick">
    url: <input type="text" id="url" name="url">
    title: <input type="text" id="title" name="title">
    <input type="button" value="SEARCH" onclick="search_url(this.form)">
  </form>
  <h2>Results:</h2>
  <div id="results">
    Search results
  </div>
  <br>
</body>
</html>
<!-- END search_index -->
