<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>IRC URL2 log</title>
    <style type="text/css">
        body {
            background-color: white;
            font-family: serif;
        }

        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            border: 0px;
            width: 90%;
        }

        tr:nth-child(even) {
            background-color: #f0f0f0;
        }

        th,
        td {
            text-align: left;
            vertical-align: top;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 8px;
            padding-right: 8px;
            font-family: monospace;
        }

        td:nth-child(5) {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <h1>IRC URL2 log</h1>
    <a href="search/">to search page</a>
    <h3>Last 7 days -- all timestamps are UTC</h3>
    <p>Page updated {{last_change}}</p>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>First seen</th>
            <th>Last seen</th>
            <th>#</th>
            <th>Channel</th>
            <th>Nick</th>
            <th>Title, URL</th>
        </tr>
        {% for id_i in uniq_id -%}
        <tr>
            {% if uniq_num_seen[loop.index0] > 1 -%}
            <td>{{id_i}}</td>
            <td><b>{{uniq_first_seen[loop.index0]}}</b></td>
            <td>{{uniq_last_seen[loop.index0]}}</td>
            <td><b>{{uniq_num_seen[loop.index0]}}</b></td>
            {% else -%}
            <td>{{id_i}}</td>
            <td>{{uniq_first_seen[loop.index0]}}</td>
            <td>{{uniq_last_seen[loop.index0]}}</td>
            <td>{{uniq_num_seen[loop.index0]}}</td>
            {% endif -%}
            <td>{{uniq_channel[loop.index0]}}</td>
            <td>{{uniq_nick[loop.index0]}}</td>
            <td>{{uniq_title[loop.index0]}}<br>
                <a href="{{uniq_url[loop.index0]}}">{{uniq_url[loop.index0]}}</a>
            </td>
        </tr>
        {% endfor -%}
    </table>
</body>

</html>